@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background: #f3f5f8;
  color: #172033;
}

.required-field .ant-form-item-label > label::after {
  content: "";
}

.required-field .ant-input,
.required-field .ant-select-selector,
.required-field .ant-picker {
  background: #fffbe6 !important;
}

/* Target the element you want to hide the scrollbar for */
.scrollable-element {
  /* Hide scrollbar for Chrome, Safari, and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for Firefox */
  scrollbar-width: none;

  /* Hide scrollbar for IE and Legacy Edge */
  -ms-overflow-style: none;
}
